*{
    margin:0px;
}

.header{
    background-color:#488bc1;
    width:100%;
    position:fixed;
    padding:10px;
}

.HeaderWord{
    padding:5px;
    font-size:20px;
    font-weight:bold;
}

body{
    display: flex;
    flex-direction: column;
}

.profile{
        display:flex;
        column-gap:80px;
        background-color:#AEE5B3
}

h1{
    font-family:serif;
}

.text-content{
    font-family:sans-serif;
    font-size:20px;
}

.blank{
    padding:30px;
}
.icon{
    width:200px;
    height:200px;
}

.link{
    display:flex;
    column-gap:80px;
    background-color:#eb9ed0cf
    
}

.https{
    width:200px;
    height:200px;
}

.LinkIcon{
    width:50px;
    height:50px;
}

.footer{
    background-color:black;
    color:#DCDCDC;
    text-align:center;
    padding:10px;
}
    